---
import { HTMLInputTypeAttribute } from "react";

interface Props {
  label: string;
  name?: string | "undefined";
  id: string;
  type?: astroHTML.JSX.HTMLInputTypeAttribute | "text";
}
const { label, name, id, type } = Astro.props as Props;
---

<label for={id}>
  <input type={type} name={name} id={id} placeholder=" " />
  <span>
    {label}
  </span>
</label>
<style>
  input {
    @apply hover:outline-0 focus:outline-0 px-2 bg-transparent truncate w-full;
  }
  label {
    @apply border-b-neutral-500/80 border-b-2 relative text-current;
  }
  label > span {
    @apply absolute left-2;
    transition: 500ms ease-in-out;
  }
  label:has(:focus) > span,
  label input:not(:placeholder-shown) + span {
    transform: translateY(-100%);
    transition: 250ms ease-in;
    @apply text-[12px] ;
  }
</style>
